.evstation {
  text-align: center;
}
.black-background {
  background-color:#282c34 !important;
  overflow: hidden;
  z-index: 0;
}
.slide-pane__overlay {
  background: transparent !important;
}
.slide-pane__header {
  display: none;
}
.address-item:active {
  transform: scale(0.95);
  transition: transform 100ms ease-in;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hole-tooltip {
  display: auto;
  z-index: 9;
}
.custom-option {
  font-size: 15px;
  position: relative;
  font-display: auto;
}
.chart-component-container {
  width: 20%;
  height: 190px;
  position: absolute;
  z-index: 2;
}
.zoom-button-container {
  position: absolute;
  right: 840px;
  top: 250px;
}
.zoom-in-button {
  position: relative;
  display: flex;
  z-index: 1;
  opacity: 0;
  width: 120px;
  height: 120px;
}
.jeju-button-container {
  position: absolute;
  right:1250px;
  top: 840px;
}
.jeju-button {
  position: relative;
  align-items: center;
  border-radius: 50%;
  width: 240px;
  height: 100px;
  display: flex;
  z-index: 1;
  opacity: 0;
}
.home-button {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 3;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search-button {
  position: absolute;
  top: 30px;
  right: 150px;
  z-index: 1;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search-input-container {
  position: absolute;
  top: 38px;
  right: 205px;
  z-index: 1;
}
.search-input {
  width: 200px;
  height: 30px;
  text-align: center;
}
.title-container {
  position: absolute;
  top: 200px;
  right: 70px;
  z-index: 1;
}
.title-main {
  font-size: 40px;
  font-weight: lighter;
  font-family: Arial;
  color: cyan;
  margin: 0;
  opacity: 0;
}
.title-sub {
  font-size: 24px;
  font-weight: lighter;
  font-family: Arial;
  color: cyan;
  text-align: right;
  margin: 0;
  opacity: 0;
}
.title-sub:hover {
  font-size: 24.1px;
}
.info-button {
  position: absolute;
  top: 30px;
  right: 90px;
  z-index: 1;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.filter-container {
  padding: 5px;
  background-color: #222324;
  color: white;
  width: 300px;
  height: 220px;
  margin-left: 4px;
}

.filter-label {
  color: white;
  position: relative;
  top: 12px;
  margin-left: 14px;
}
.add-filter {
  position: relative;
  background-color: transparent;
  border: none;
  top: 20px;
  left: 10px;
  color: white;
}
.add-icon {
  width: 24px;
  height: 24px;
  color: white; 
  transition: color 0.3s ease;
}
.add-filter:hover .add-icon {
  color: cyan;
}
.span-add-filter {
  color: cyan;
  position: relative;
  top: -3px;
  left: -3px;
}
.custom-select {
  font-size: 14px;
  padding: 5px;
  margin-left: 12px;
  position: relative;
  top: 12px;
  width: 170px;
  height: 29px;
  background-color: #ced9d9;
  color: black;
}
.selected-filters {
  position: relative;
  top: 100px;
  margin-left: 5px;
}
.selected-filters-box {
  position: absolute;
  background-color: gray;
  top: 180px;
  height: 30px;
  width: 220px;
  font-size: 15px;
  padding-left: 5px;
  padding-top: 8px;
  margin-left: 12px;
  opacity: 0.8;
}
.open-rg {
  position: absolute;
  top: 192px;
  right: 12px;
  border: none;
  background-color: transparent;
}
.icon {
  width: 24px;
  height: 24px;
  color: white; 
  transition: color 0.3s ease;
}
.open-rg:hover .icon {
  color: cyan;
}
.result-container {
  position: relative;
  top: 10px;
  height: 682px;
  margin-left: 4px;
  background-color: #222324;
  width: 310px;
}
.result-info {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-left: 179px;
  color: white;
  font-size: 12px;
}
.result-content {
  position: relative;
  margin-left: 13px;
  width: 274px;
  height: 508px;
  overflow: auto;
  color: white;
  padding-top: 0px;
  font-size: 11.1px;
  background-color:rgb(41, 43, 53);
}
.result-content::-webkit-scrollbar {
  width: 4px; 
}
.result-content::-webkit-scrollbar-thumb {
  background: #6c5f5f; 
}
.result-content::-webkit-scrollbar-thumb:hover {
  background: cyan; 
}
.result-efficiency {
  position:absolute;
  margin-top: -14.5px;
  left: 235px;
}
.result-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1; 
  max-width: 36ch;
}
.sort {
  position: absolute;
  background-color: transparent;
  border: none;
  margin-top: -2px;
  margin-left: 4.5px;
}
.sort-icon {
  color: white; 
  transition: color 0.3s ease;
}
.sort:hover .sort-icon {
  color: cyan;
}
.address-item {
  padding: 5px;
  border-radius: 3px;
  cursor: default;
  border-bottom: 2px solid rgba(66, 66, 66, 0.5);
}
.address-item:hover {
  padding: 4px;
  cursor: default;
  background-color: #5329e7;
}
.blue {
  background-color: blue;
}
.under95 {
  background-color: rgb(97, 133, 194);
}
.under90 {
  background-color: rgb(138, 36, 36);
}
.selected-address {
  background-color: #4f3a9b;
}
.downloadCsv {
  position: absolute;
  margin-top: 20px;
  left: 254px;
  background-color: transparent;
  color: white;
  border: none;
}
.downloadCsv:hover {
  color: cyan;
}
.pane-container {
  position: relative;
  margin-left: -8px;
  top: 10px;
  max-height: 100%;
  overflow-y: auto;
  z-index: 1;
}
.left2-pannel {
  position: relative;
  left: 360px;
  top: 250px;
  height: 640px;
  background-color: #212163;
  opacity: 0.9;
  z-index: 99;
}
.right-pane {
  background-color:slategray;
}
.evstation-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.evstation-link {
  color: #61dafb;
}
.statistics {
  position: absolute;
  left: 19px;
  color: white;
  margin-top: 28px;
  font-size: 13px;
}
